<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Improve your English</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            background: #c7b39b url(https://www.zastavki.com/pictures/originals/2014/Backgrounds_Wallpapers_with_gradient_background_082013_.jpg); /* Цвет фона и путь к файлу */
            color: #fff; /* Цвет текста */
        }

    </style>
</head>
<body>

<div class="container py-4">
    <header class="pb-3 text-white mb-7 border-bottom">

        <nav class="navbar navbar-expand-lg navbar-light bg-secondary rounded" aria-label="Twelfth navbar example">
            <div class="container-fluid">

                <!--<a href="#" class="navbar-brand d-flex align-items-center">
                    <svg  width="50" height="42" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="https://cdn.imgbin.com/12/4/2/imgbin-metalist-oblast-sports-complex-fc-metalist-kharkiv-ukrainian-premier-league-fc-sheriff-tiraspol-uefa-europa-league-football-9AfLZtiFgkUG9PT9MLe63SJnD.jpg"></path><circle cx="12" cy="13" r="4"></circle></svg>-->
                <nav class="font-italic">
                    <h3><strong><a class="nav-link active text-white" aria-current="page" href="home.html"> Improve your English</a></strong><h3>
                </nav>

                <!--</a>-->

                <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
                    <ul class="navbar-nav">

                        <!--<li class="nav-item">
                            <a class="nav-link text-white" href="/homework">Homework</a>
                        </li>-->

                        <li class="nav-item">
                            <a class="nav-link text-white" href="grammar.html">English Tenses</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" href="book.html">Book</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" href="contacts.html">Contacts</a>
                        </li>




                        <li class="nav-item">
                            <a class="nav-link text-white" href="https://www.facebook.com/Improve-your-English-102581978849413"><i class="fa fa-facebook pb-1 text-white"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#"><i class="fa fa-instagram pb-1 text-white"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#"><i class="fa fa-skype pb-1 text-white"></i></a>
                        </li>




                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class=" p-5 mb-4 bg-warning rounded-3">


        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Custom jumbotron</h1>
            <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
            <!--<button class="btn btn-primary btn-lg" type="button">Example button</button>-->
        </div>

    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-info rounded-3">
                <h2>Change the background</h2>
                <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
                <!--<button class="btn btn-outline-light" type="button">Example button</button>-->
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-danger border rounded-3">
                <h2>Add borders</h2>
                <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                <!--<button class="btn btn-outline-secondary" type="button">Example button</button>-->
            </div>
        </div>
    </div>
</div>
</body>
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></small></svg><p>© 2021</p>
        </div>
        <!--<div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Cool stuff</a></li>
                <li><a class="link-secondary" href="#">Random feature</a></li>

            </ul>
        </div>-->
        <div class="col-6 col-md">
            <h5>Grammar</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Rules</a></li>
                <li><a class="link-secondary" href="#">English Tenses</a></li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Practice</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="book.html">Language</a></li>
                <li><a class="link-secondary" href="book.html">Education</a></li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="contacts.html">Contacts</a></li>
                <li><a class="link-secondary" href="contacts.html">Location</a></li>

            </ul>
        </div>

    </div>
</footer>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>



<!--<footer class="pt-1 mt-1 text-white &lt;!&ndash;border-top&ndash;&gt;">
    <div align="center">
        <a>Copyright © 2021 Improve your English | Оfficial site.</a><br>
        <a>All rights reserved.</a>

    </div>
</footer>-->

</html>